<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PLOTS</title>
        <style type="text/css">
        .header{
            margin-top: 20px;
            text-align: center;
            background-color: rgb(136, 185, 229);
            height: 70px;
            line-height: 70px;
            font-family: monospace;
        }
        .chart{
            margin-top: 30px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <h2>
            PREDICTION PLOTS
        </h2>
    </div>
    <div id="chart" class="chart">
        <script>
               var graph1 = {{graph1 | safe}};
               Plotly.plot('chart',graph1,{});
         </script>
    </div>
    <a href="/" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">REFRESH</a>
</div>
</body>
</html>